
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('job.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
}

.col {
    max-width: 448px;
    margin: 30px; 
    padding: 30px; 
    background: rgba(55, 183, 225, 0.5);
    border-radius: .4rem;
    box-shadow: rgba(1, 2, 58, 0.712) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.container h2 {
    font-size: 18px;
    margin-bottom: 16px;
}

.container label {
    display: block;
    margin-bottom: 10px;
}

.container input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: 1px solid #e3e8ee;
    border-radius: 4px;
    margin-bottom: 16px;
}

.container .button {
    text-align: center;
    margin-top: 20px; /* Ajout de marge en haut du bouton */
}

.container .button button {
    background-color: #2dcadf;
    color: #04042e;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container .button button:hover {
    background-color: #4257b2;
}

.footer {
    text-align: center;
    margin-top: 24px;
    font-size: 14px;
    color: #02112c;
}


.register-button {
    text-align: center;
    margin-top: 10px; 
}

.register-button button {
    background-color: #2dcadf;
    color: #04042e;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; 
    margin: 0 auto; 
}
.register-button button:hover {
    text-decoration: none;
    background-color: #054750
}
.champ{
    font-size: 20px;
    color: #050642;
    font-family: cursive;

}


.container input,
.container select {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: 1px solid #e3e8ee;
    border-radius: 4px;
    margin-bottom: 16px;
}








.footer {
    text-align: center;
    margin-top: 24px;
    font-size: 14px;
    color: #02112c;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f9f9f9;
    color: #333;
    border-radius: 4px;
}

.custom-file-upload:hover {
    background-color: #e9e9e9;
}

input[type="file"] {
    display: none;
}
.champ{
    font-size: 20px;
    color: #050642;
    font-family: cursive;

}

.btn{
    background-color: #2dcadf;
    color: #04042e;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; 
    margin: 0 auto; 
    font-size: 15px;
    font-family: cursive;

}
img {
    border: 2px solid #ffffff; 
    border-radius: .4rem; 
    padding: 0px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}